/*normalise CSS styles across browsers*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: 'Fira Sans';
}
body {
    margin: 0;
    padding: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2rem;
    margin: 0.67rem 0;
}
a {
    background-color: transparent;
}
b,
strong {
    font-weight: bolder;
}
img {
    border-style: none;
}
[hidden] {
    display: none;
}
/*end of normalisation*/

header {
    display: inline-block;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 8vh;
    margin: 0;
    top: 0;
    border-bottom: 1px solid rgb(107, 107, 107);
}

header > img {
    display: inline-block;
    height: 6vh;
    margin: 1vh 5%;
}

.full-list {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: auto 2.5rem;
    float: right;
}

.full-list > p {
    text-align: center;
    padding: 0 1vh;
}

.full-list > p > a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.full-list > p > a:hover {
    color: black;
}

.drop-down {
    float: right;
    overflow: hidden;
    margin: auto 10% auto 0;
}
  
.drop-down .drop-button {
    border: none;
    outline: none;
    color: rgb(107, 107, 107);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
}

.drop-button > img {
    display: inline-block;
    height: 2.5vh;
    margin: 1.75vh 5%;
}
  
.drop-down:hover .drop-button {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content > p > a {
    float: none;
    color: rgb(107, 107, 107);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.5rem;
}

.dropdown-content > p > a:hover {
    color: black;
}
  
.drop-down:hover .dropdown-content {
    display: block;
}

footer {
    display: grid;
    grid: auto / 1fr 1fr 2fr;
    padding: 1vh 0 2vh 0;
}

.item1 {
    grid-column: 1 / 2;
    width: 50%;
    margin: auto auto;
}

.item2 {
    display: flex;
    grid-column: 2 / 3;
    margin: auto auto;
    justify-content: center;
}

.item2 a {
    width: 20%;
    padding: 0 1rem;
}

.item2 img {
    width: 100%;
    display: inline;
}

.item3 {
    grid-column: 3 / 5;
    width: 90%;
    margin: auto auto;
    padding-left: 10%;
}

.item3 p {
    font-size: 0.75rem;
    padding: 0 auto;
    margin: 0.25rem auto;
}


@media screen and (max-width: 479px) {
    html {
        font-size: 10px;
    }

    .full-list {
        display: none;
    }

    img.page-image {
        height: 7.5vh;
    }
}

@media screen and (min-width:480px) and (max-width: 719px) {
    html {
        font-size: 14px;
    }

    .full-list {
        display: none;
    }

    img.page-image {
        height: 10vh;
    }
}

@media screen and (min-width:720px) and (max-width: 1079px){
    html {
        font-size: 18px;
    }

    .drop-down {
        display: none;
    }

    img.page-image {
        height: 15vh;
    }
}

@media screen and (min-width:1080px) {
    html {
        font-size: 22px;
    }

    header {
        height: 11vh;
    }

    header > img {
        height: 9vh;
    }

    .full-list > p > a {
        font-size: 1.25rem;
        padding: 0 0.5vh;
    }

    .drop-down {
        display: none;
    }

    .background {
        padding-top: 40%;
        background-size: cover;
    }

    img.page-image {
        height: 20vh;
    }
}